:root{
    --color-a: #3039a9;
    --color-b: #1C2163;
    --color-c: #ABC5FF;
    --thankyou-color: #c00;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;
    margin: 0;
}

p{
    margin: 0;
    font-size: 1rem;
}


.flexContentsH{
    display: flex;
}
.flexContentsV{
    display: flex;
    flex-direction: column;
}

.flexSpaceFill{
    flex-grow: 1;
}

.flexboxSpace{
    gap: .5rem;
}


.blur{
    filter: blur(.5rem) grayscale(.6);
}

.hide{
    display: none !important;
}


div.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#ticketInfoWindow{
    padding: 0 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    overflow-y: scroll;
}

div.otherInfo{
    height: 3rem;
    justify-content: end;
    align-items: center;
}

div.ticketInfoBackground{
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem -.5rem var(--color-a);
}

div.ticketInfo{
    margin: 1.5rem;
}

div#ticketWindow{
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .6);
}

div.modalTitle{
    position: relative;
    height: 3rem;
    justify-content: center;
    align-items: center;
    > p{
        text-align: center;
    }
}
div.modalCloseButton{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}


div.modalBackground{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 1rem -.5rem var(--color-a);
}

.dummyUsedTicketCounts{
    text-align: end;
}

p.eventName{
    font-size: 1.5em;
    font-weight: bold;
}

div#swipearea{
    align-self: center;
    width: calc(100% - 2rem);
    aspect-ratio: 1.0;
    border: 1px dotted var(--color-b);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    > p {
        font-size: .75em;
        max-width: 90%;
    }
}

div#ticketUseConfirmWindow{
    justify-content: center;
    padding: 0 1.5rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .6);
}


div.horizontalLine{
    background-color: var(--color-c);
    width: 100%;
    height: 1px;
}

div.buttonBox{
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}
div.button{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    box-sizing: border-box;
}
div.negativeButton{
    border: 1px solid var(--color-c);
    background-color: #fff;
    > p {
        color: var(--color-b);
    }
}
div.positiveButton{
    background-color: var(--color-b);
    > p {
        color: #fff;
    }
}

